## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
# defining empty Set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [8]:
set_var={1,2,3,4,3}

In [9]:
set_var

{1, 2, 3, 4}

In [10]:
set_var={"Yash","Ayush","Nitin"}
print(set_var);
print(type(set_var))

{'Yash', 'Ayush', 'Nitin'}
<class 'set'>

In [16]:
set_var[0]

TypeError: 'set' object is not subscriptable

In [17]:
set_var["Yash"]

TypeError: 'set' object is not subscriptable

## Inbuilt Function in Sets

### Add method

In [20]:
set_var.add("Hulk");
print(set_var)

{'Hulk', 'Yash', 'Ayush', 'Nitin'}

In [43]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk"}

### Difference Method

In [23]:
# Only show the difference between Sets
set2.difference(set1)

{'Hulk'}

In [24]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [25]:
# Show Difference between two Set and Update the set
set2.difference_update(set1)

In [26]:
set2

{'Hulk'}

### Intersection method

In [44]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk"}

In [46]:
print(set1)
print(set2)

{'Ironman', 'Hitman', 'Avengers'}
{'Hulk', 'Ironman', 'Hitman', 'Avengers'}

In [47]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [48]:
set2.intersection_update(set1)

In [49]:
set2

{'Avengers', 'Hitman', 'Ironman'}

### Pop and IsSubset method

In [50]:
set1.issubset(set2)

True

In [54]:
set1.pop()

'Ironman'

In [57]:
print(set1)
print(set2)

{'Hitman', 'Avengers'}
{'Ironman', 'Hitman', 'Avengers'}

In [55]:
set2.issubset(set1)

False

In [56]:
set2.issuperset(set1)

True

In [62]:
set1.add("Blackpanther")
print(set1)
print(set2)

{'Blackpanther', 'Hitman', 'Avengers', 'Ironman'}
{'Ironman', 'Hitman', 'Avengers'}

### Union Method

In [85]:
# does union of itself and set given in parameter(string/set/list) but does not update set
set2.union(set1)

{'Avengers', 'Blackpanther', 'Hitman', 'Ironman'}

In [86]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [87]:
L=[1,2,3,4,5]

In [88]:
set2.union(L)

{1, 2, 3, 4, 5, 'Avengers', 'Hitman', 'Ironman'}

In [89]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [95]:
# another way for union of only set with another set

In [96]:
set1|set2

{'Avengers', 'Blackpanther', 'Hitman', 'Ironman'}

In [97]:
set2|set1

{'Avengers', 'Blackpanther', 'Hitman', 'Ironman'}

In [98]:
print(set1)
print(set2)

{'Blackpanther', 'Hitman', 'Avengers', 'Ironman'}
{'Ironman', 'Hitman', 'Avengers'}

In [99]:
set1|L

TypeError: unsupported operand type(s) for |: 'set' and 'list'

### Update Method

In [101]:
# does union of itself and set given in parameter(string/set/list) but also update itself
set2.update(set1)

In [102]:
set2

{'Avengers', 'Blackpanther', 'Hitman', 'Ironman'}

In [106]:
# union of set with list 
set2.update(L)

In [107]:
set2

{1, 2, 3, 4, 5, 'Avengers', 'Blackpanther', 'Hitman', 'Ironman'}

In [108]:
print(set1)
print(set2)

{'Blackpanther', 'Hitman', 'Avengers', 'Ironman'}
{1, 2, 3, 4, 'Avengers', 5, 'Blackpanther', 'Hitman', 'Ironman'}

In [112]:
# Another method of update using |= opreator
set2={'Ironman', 'Hitman', 'Avengers'}
print(set1)
print(set2)

{'Blackpanther', 'Hitman', 'Avengers', 'Ironman'}
{'Ironman', 'Hitman', 'Avengers'}

In [115]:
set1|=set2

In [118]:
print(set2)
print(set1)

{'Blackpanther', 'Hitman', 'Avengers', 'Ironman'}
{'Blackpanther', 'Hitman', 'Avengers', 'Ironman'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values

In [140]:
# Empty Dictionary
dic={}
print(type(dic))
print(dic)

<class 'dict'>
{}

In [145]:
set_ex={1,2,3,4}
type(set_ex)

set

In [146]:
# Creating a Empty Dictonary using dict()
dic2=dict()
type(dic2)

dict

In [147]:
# Creating a Dictonary using dict()
dic2=dict(name="yash", age=20,University="Graphic Era")
type(dic2)

dict

In [148]:
type(dic)

set

In [149]:
print(dic2)

{'name': 'yash', 'age': 20, 'University': 'Graphic Era'}

In [150]:
# Creating a Dictonary
my_dict={"car1":"Audi","car2":"BMW","Car3":"Mercidies Benz"}

In [151]:
type(my_dict)

dict

## Accessing Keys and Values

In [153]:
## Accessing Values Based On Keys
my_dict["car1"]

'Audi'

In [167]:
# print all keys
my_dict.keys()

dict_keys(['car1', 'car2', 'Car3', 'car4'])

In [168]:
# print all values
my_dict.values()

dict_values(['Maruti', 'BMW', 'Mercidies Benz', 'Ferrari'])

In [169]:
# print all items
my_dict.items()

dict_items([('car1', 'Maruti'), ('car2', 'BMW'), ('Car3', 'Mercidies Benz'), ('car4', 'Ferrari')])

In [156]:
# printing Keys using For Loops
for x in my_dict:
    print(x)

car1
car2
Car3

In [157]:
# printing Values using For Loops
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [158]:
# printing Both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('Car3', 'Mercidies Benz')

## Adding items in Dictionaries

In [159]:
my_dict["car4"]="Ferrari"

In [160]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Ferrari'}

In [161]:
# If we add new value to already existing Key its value gets overwritten
my_dict["car1"]="Maruti"

In [162]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Ferrari'}

## Nested Dictionary

In [163]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [165]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [170]:
# Accessing item in nested Dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [171]:
print(car_type['car1']['Mercedes'])

1960

In [172]:
print(car_type[1][2])

KeyError: 1

# Tuples
Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists which are mutable

In [177]:
# Creating a Empty Tuples using tuple()
my_tuple=tuple()
print(type(tuple))
print(my_tuple)

<class 'type'>
()

In [184]:
# only one argument in tuple function
my_tuple=tuple([1,2,3])
print(my_tuple)

(1, 2, 3)

In [186]:
my_tuple=tuple((1,2,3))
print(my_tuple)

(1, 2, 3)

In [187]:
# Creating a Empty Tuples
my_tuple=()

In [188]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
()

In [197]:
my_tuple=("yash","Nitin","Nishant","yash")
print(my_tuple)

('yash', 'Nitin', 'Nishant', 'yash')

In [198]:
# Elements of tuple are immutable
print(my_tuple[0])

yash

In [199]:
my_tuple[0]="Khati"

TypeError: 'tuple' object does not support item assignment

In [200]:
# count the frequencu of element in tuple 
my_tuple.count("yash",)

2

In [205]:
# Find First Occurrence of element in tuple
my_tuple.index("yash")

0

In [207]:
# Find First Occurrence of element in tuple 
# (element,start_index,End_index) search for element from start index to end_index-1
my_tuple.index("yash",1,4)

3

In [208]:
# Finding length of tuple
len(my_tuple)

4